h2 {
  text-align: center;
  margin: 20px;
  color: #3366cc;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  width: 200px;
  text-align: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
}
