// Variabile
$primary-color: #3366cc;
$secondary-color: #ff9900;
$background-color: #f5f5f5;

// Stiluri generale
body {
  background-color: $background-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: $primary-color;
  padding: 20px;
  color: white;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}

#map {
  margin: auto;

  #mapCanvas {
    border: 1px solid #000;
    width: 600px;
    height: 400px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px;
}

section {
  flex: 1 1 100%;

  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.8rem;
    color: $primary-color;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1.6rem;
    color: $primary-color;
    margin-bottom: 10px;
  }
}

form {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  button[type="submit"] {
    background-color: $primary-color;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
}

#travel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.trip-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h3 {
    margin-top: 0;
    font-size: 1.6rem;
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    font-size: 1.2rem;
  }

  .delete-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken(red, 10%);
    }
  }

  .add-button {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

footer {
  background-color: $primary-color;
  padding: 10px;
  color: white;
  text-align: center;

  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

// Stiluri specifice variabilei secondary-color
.secondary-section {
  background-color: $secondary-color;
  color: white;

  h2,
  h3 {
    color: white;
  }

  button[type="submit"] {
    background-color: $secondary-color;
  }
}

.trip-item {
  border-color: $secondary-color;
  background-color: $background-color;

  h3 {
    color: $secondary-color;
  }
}

footer {
  background-color: $secondary-color;
}

// Media Queries
@media only screen and (max-width: 600px) {
  // Stiluri pentru ecranul mobil
  body {
    font-size: 14px;
  }

  section {
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 10px;
  }

  .trip-item {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  // Stiluri pentru tableta
  body {
    font-size: 16px;
  }

  section {
    margin-bottom: 30px;
  }

  .trip-item {
    flex: 0 0 calc(50% - 20px);
  }
}

@media only screen and (min-width: 1025px) {
  // Stiluri pentru desktop
  body {
    font-size: 18px;
  }

  section {
    margin-bottom: 40px;
  }

  .trip-item {
    flex: 0 0 calc(31.93% - 20px);
  }
}
